/*colors*/
/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Oswald&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #6a8550;
}
.navbar .navbar-brand {
  font-family: "Oswald", sans-serif;
}
.navbar .nav-item {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}

.mainText {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fbfbfb;
  margin-left: -10px;
  margin-right: -15px;
  padding: 50px 40px 50px 40px;
  text-align: left;
}

h1 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-family: "Barlow Condensed", sans-serif;
}

.mainList {
  padding: 50px 40px 50px 40px;
  background-color: #b1cc7d;
  margin-left: -10px;
  margin-right: -15px;
}
.mainList .list {
  text-align: center;
  padding-bottom: 25px;
}
.mainList .textCols {
  padding-left: 140px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}
.mainList .textCols .textCols-item {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.cardCols-item {
  display: inline-block;
  padding: 30px 40px 50px 90px;
}
.cardCols-item .card {
  width: 18rem;
}
.cardCols-item .card .card-body {
  text-align: center;
}
.cardCols-item .card .card-body .card-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 22px;
}
.cardCols-item .card .card-body .card-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 22px;
}
.cardCols-item .card .card-body .btn {
  background-color: #6a8550;
}

.carousel {
  margin-left: -10px;
  margin-right: -15px;
}

.Faq {
  padding: 50px 40px 20px 40px;
}
.Faq .mainFaq {
  text-align: center;
  padding-bottom: 25px;
}
.Faq .accordion-button,
.Faq .accordion-body {
  font-family: "Barlow Condensed", sans-serif;
  background-color: #b1cc7d;
}

.star-rating {
  font-size: 0;
}
.star-rating .star-rating__wrap {
  display: inline-block;
  font-size: 1rem;
}

.star-rating__wrap:after {
  content: "";
  display: table;
  clear: both;
}

.star-rating__ico {
  float: right;
  padding-left: 2px;
  cursor: pointer;
  color: #FFB300;
}

.star-rating__ico:last-child {
  padding-left: 0;
}

.star-rating__input {
  display: none;
}

.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before {
  content: "\f005";
}

.feedback {
  padding: 50px 40px 40px 40px;
}
.feedback .mainFeedback {
  text-align: center;
  padding-bottom: 20px;
}
.feedback .form-group {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}
.feedback .form-group .rating {
  font-family: "Barlow Condensed", sans-serif;
  padding-bottom: 10px;
  font-size: 20px;
}

footer {
  background-color: #6a8550;
  margin-left: -10px;
  margin-right: -15px;
  font-family: "Barlow Condensed", sans-serif;
}/*# sourceMappingURL=main.css.map */